<!-- chat/templates/chat/room.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Setup -->
  <title>TigerMeet</title>
  <link rel="icon" type="image/png" href="{% static 'cub.png' %}">

  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>  

  <!-- Semantic UI -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <link rel="stylesheet" href="{% static 'room.css' %}" />
</head>

<body>
  <div id="frame">

    <div id="sidepanel">
      
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{% static 'rpark.jpg' %}" class="online" alt="">
          <p>{{ username }}</p>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="ui green empty circular label"></span> <p>Online</p></li>
              <li id="status-away"><span class="ui yellow empty circular label"></span> <p>Away</p></li>
              <li id="status-busy"><span class="ui red empty circular label"></span> <p>Busy</p></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="ui fluid icon input">
        <input type="text" placeholder="Search students...">
        <i class="search icon"></i>
      </div>

      <div id="contacts">
        <ul>

          <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="{% static 'alin.png' %}" alt="" />
              <div class="meta">
                <p class="name">Andrew Lin</p>
              </div>
            </div>
          </li>

          <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="{% static 'bkiyan.png' %}" alt="" />
              <div class="meta">
                <p class="name">Bora Kiyan</p>
              </div>
            </div>
          </li>

          <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="{% static 'bkernighan.jpg' %}" alt="" />
              <div class="meta">
                <p class="name">Brian Kernighan</p>
              </div>
            </div>
          </li>

          <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="{% static 'dwu.jpg' %}" alt="" />
              <div class="meta">
                <p class="name">David Wu</p>
              </div>
            </div>
          </li>

          <li class="contact">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="{% static 'jlu.png' %}" alt="" />
              <div class="meta">
                <p class="name">Jace Lu</p>
              </div>
            </div>
          </li>

        </ul>
      </div>

    </div> <!-- sidepanel -->

    <div class="content">
      
      <div class="contact-profile">
        <h1>{{ room_name_json }}</h1>
      </div>

      <div class="messages">
        <ul id="chat-log">
          {% comment %} 
          <li class="sent">
            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
          </li>
          <li class="replies">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>When you're backed against the wall, break the god damn thing down.</p>
          </li> 
          {% endcomment %}
        </ul>
      </div>

      <div class="message-input">
        <div class="ui fluid action input">
          <input id="chat-message-input" type="text" placeholder="Write your message...">
            <div class="ui button"><i class="smile alternate icon" aria-hidden="false"></i></div>
            <div class="ui button"><i class="paper plane icon" aria-hidden="false"></i></div>
          </span>
        </div>
      </div>

    </div> <!-- content -->

  </div> <!-- frame -->

<script src="{% static 'room.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/' + roomName + '/');

    chatSocket.onopen = function(e) 
    {
      fetchMessages();
    }
l
    chatSocket.onmessage = function(e) 
    {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') 
        {
          for (let i = 0; i < data['messages'].length; i++) 
          {
            createMessage(data['messages'][i]);
          }
        } 
        else if (data['command'] === 'new_message')
        {
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) 
    {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) 
    {
        if (e.keyCode === 13) // enter, return
        {  
          document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) 
    {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username
        }));

        messageInputDom.value = '';
    };

    function fetchMessages() 
    {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
    }

    function createMessage(data) 
    {
      var author = data['author'];
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      pTag.textContent = data.content;
      imgTag.src = "{% static 'rpark.jpg' %}";
      
      if (author === username) 
      {
        msgListTag.className = 'sent';
      } else 
      {
        msgListTag.className = 'replies';
      }
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }

</script>
</body>

</html>